@model List<ResultGuideDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h1>Rehber Listesi</h1>
<a href="/Admin/Guide/AddGuide/" class="btn btn-primary">Yeni Rehber Ekle</a>
<br />
<br />
<table class="table table-hover">
    <tr>

        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td><img style="width:80px; height:80px; border-radius:50%" src="@item.Image" /></td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>

                @if (item.Status == true)
                {
                    <a href="/Admin/Guide/changeStatusToFalse/@item.GuideID" class="btn btn-warning">Pasif Yap</a>
                }
                else
                {
                    <a href="/Admin/Guide/changeStatusToTrue/@item.GuideID" class="btn btn-warning">Aktif Yap</a>
                }
            </td>
            <td><a href="/Admin/Guide/EditGuide/@item.GuideID" class="btn btn-success">Düzenle</a></td>
        </tr>

    }
</table>

