
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raporları Sayfası</h1>

<a href="/Excel/ExcelReport/" class="btn btn-outline-info">Rotalar Excel Raporu</a><br /><br />
<br />
<br />

