@model MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Err != null)
{
    <div class="alert alert-@ViewBag.Icon" role="alert">
        @ViewBag.Err
    </div>
}


<h1>Mail Gönderme Sayfası</h1>
<form method="post">
    <div class="form-group">
        @Html.Label("Mail Başlığı")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Alıcı Mail Adresi")
        <input type="text" asp-for="ReciverMail" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Mesajınız")
        <textarea class="form-control" id="summernote" asp-for="ContentBody"></textarea>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" class="btn btn-outline-success" value="Mail Gönder" />
    </div>

</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $('#summernote').summernote({
        placeholder: 'Mesajınızı Giriniz.',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

