
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Yorum Bırakın</h4>
    <p class="mb-4">
        İşaretli Alanları Doldurmanız Gereklidir. *
    </p>

    @if (TempData["CommentResult"] != null)
    {
        string icon = TempData["icon"].ToString();
        <div class="alert alert-@icon" role="alert">
            @Html.Raw(TempData["CommentResult"])
        </div>
    }

    <form method="post" asp-action="AddComment" asp-controller="Comment">

        <div class="form-group">
            <textarea name="CommentContent" class="form-control" required placeholder="Yorumunuz *"
                      spellcheck="false"></textarea>
        </div>

        <div class="input-grids row">

            <div class="form-group col-lg-12">
                <input type="text" name="CommentUser" required class="form-control" placeholder="Adınız Soyadınız *">
            </div>
            <div class="form-group col-lg-6">
                <input type="hidden" name="DestinationID" value="@ViewBag.FilterId" class="form-control" placeholder="Destinasyon ID *" >
            </div>
        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Yorum Yap</button>
        </div>
    </form>
</div>
