<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<script>
    $(function () {
        $(".downlandExcelRapor").click(function () {

            Swal.fire({
                title: "Emin Misiniz",
                text: "Rotaların Excel Raporu İndirilsin Mi ?",
                icon: "info",
                showCancelButton: true,
                cancelButtonText: `İptal Et`,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "İndir"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "İndirildi!",
                        text: "Dosya İndirildi",
                        icon: "success"
                    });
                    window.location.href = "/Excel/ExcelReport/";
                }
            });


            //href="/Excel/ExcelReport/"
        });
    })
</script>




<ul class="menu-inner py-1">
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/City/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-car"></i>
            <div data-i18n="Analytics">Rota İşlemleri (Ajax)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destinations/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane"></i>
            <div data-i18n="Analytics">Rotalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-calendar-check"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="Analytics">Rehberlerimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user"></i>
            <div data-i18n="Analytics">Misafirler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-phone"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-megaphone"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-send"></i>
            <div data-i18n="Analytics">Mail Gönder</div>
        </a>
    </li>
    <li class="menu-item">
        @*         <a href="/Excel/ExcelReport/" onclick="return confirm('Rotalara Ait Excel Raporu İndirilsin mi ?')" class="menu-link" *@
        <a  style="cursor:pointer" class="menu-link downlandExcelRapor">
            <i class="menu-icon tf-icons bx bxs-download"></i>
            <div data-i18n="Analytics">Excel Raporu (Rotalar)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-fast-forward"></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-contact"></i>
            <div data-i18n="Analytics">Alt Hakkımızda Alanı</div>
        </a>
    </li>
   
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-chat"></i>
            <div data-i18n="Analytics">Mail Bülteni</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-fast-forward-circle"></i>
            <div data-i18n="Analytics">Öne Çıkanlar 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-edit"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
</ul>

