@{
    Layout = null;
}

@* <html lang="tr">
@await Html.PartialAsync("~/Views/LayoutPartial/_UIHeaderPartial.cshtml")
<body>

    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")

    @RenderBody()
    @await Html.PartialAsync("~/Views/LayoutPartial/_UIFooterPartial.cshtml")
    @await Html.PartialAsync("~/Views/LayoutPartial/_UIScriptsPartial.cshtml")

</body>
</html>
 *@



<!doctype html>
<html lang="tr">

@await Html.PartialAsync("~/Views/LayoutPartial/_UIHeaderPartial.cshtml")

<body>
    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("~/Views/LayoutPartial/_UIFooterPartial.cshtml")

    @await Html.PartialAsync("~/Views/LayoutPartial/_UIScriptsPartial.cshtml")
   

</body>

</html>