@{
    Layout = null;
}
<form method="post">
    <input type="text" name="mail" placeholder="Mail" />
    <input type="submit" value="Sıfırla" />
    @if (@ViewBag.RestToken != null)
    {
        <p>@ViewBag.RestToken</p>
    }

</form>
